[Desktop Entry]
Categories=Settings;
Exec=biglinux-settings
Icon=/usr/share/icons/hicolor/scalable/apps/biglinux-settings.svg
Name=BigLinux Settings
Name[bg]=Настройки на BigLinux
Name[cs]=Nastavení BigLinuxu
Name[da]=BigLinux indstillinger
Name[de]=BigLinux-Einstellungen
Name[el]=Ρυθμίσεις του BigLinux
Name[es]=Configuración de BigLinux
Name[et]=BigLinuxi seaded
Name[fi]=BigLinux-asetukset
Name[fr]=Paramètres de BigLinux
Name[he]=הגדרות BigLinux
Name[hr]=Postavke BigLinuxa
Name[hu]=BigLinux beállítások
Name[is]=Stillingar á BigLinux
Name[it]=Impostazioni di BigLinux
Name[ja]=BigLinux の設定
Name[ko]=BigLinux 설정
Name[nl]=BigLinux instellingen
Name[no]=BigLinux innstillinger
Name[pl]=Ustawienia BigLinuxa
Name[pt]=Ajustes do BigLinux
Name[ro]=Setări BigLinux
Name[ru]=Настройки BigLinux
Name[sk]=Nastavenia BigLinuxu
Name[sv]=Inställningar för BigLinux
Name[tr]=BigLinux Ayarları
Name[uk]=Налаштування BigLinux
Name[zh]=BigLinux 设置
StartupNotify=true
Terminal=false
Type=Application
