[Desktop Entry]
Categories=Settings;
Exec=biglinux-settings
Icon=/usr/share/icons/hicolor/scalable/apps/biglinux-settings.svg
Name=BigLinux Settings
Name[bg]=
Name[cs]=
Name[da]=
Name[de]=
Name[el]=
Name[es]=
Name[et]=
Name[fi]=
Name[fr]=
Name[he]=
Name[hr]=
Name[hu]=
Name[is]=
Name[it]=
Name[ja]=
Name[ko]=
Name[nl]=
Name[no]=
Name[pl]=
Name[pt]=
Name[ro]=
Name[ru]=
Name[sk]=
Name[sv]=
Name[tr]=
Name[uk]=
Name[zh]=
StartupNotify=true
Terminal=false
Type=Application
